
Projekt/app/Http/Controllers/Auth/AuthController.php

Projekt/app/Http/Controllers/Auth/AuthController.php

Projekt/app/Http/Controllers/Auth/AuthController.php

Projekt/app/User.php

Projekt/public/img/profilbild.png

Projekt/resources/views/includes/template.blade.php
