.bakgrundsbild {
max-width: 100%;
position: relative;

}

.col-sm-12 {
background-color: #663399;
   position: absolute;
   position: fixed;
    top: 30%;
    right: 25%;
    width: 40%;
    height: 50%;
    opacity: 0.8;



}
